:root {
  --primary-color: #193D89;
  --second-color: #E41311;
  --third-color: #27BBE0;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*  */
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}
/*  */
.swipdown-enter-active,
.swipdown-leave-active {
  transition-duration: 0.23s;
  transition-property: all;
  transition-timing-function: ease; 
  transform: translateX(0);
}
.swipdown-enter,
.swipdown-leave-active {
  transform: translateX(100%);
  opacity: 0;
}

@font-face {
  font-family: "GothamMedium";
  src: url("./assets/GothamMedium.ttf");
}

@font-face {
  font-family: "gothamUltra";
  src: url("./assets/gotham-ultra.otf");
}

@font-face {
  font-family: "GothaProLig";
  src: url("./assets/GothaProLig.otf");
}
*{
  font-family: 'GothamMedium', Arial, sans-serif;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #ccccccff;
}
@media only screen and (max-width:960px){
  ::-webkit-scrollbar {
 
    width: 5px;
  }
}




/*  .bd-red{border: solid 2px red;}
.bd-green{border: dashed 2px green;}
.bd-yellow{border: solid 3px yellow;}
.bd-blue{border: solid 1px blue;}  
 */